<div class="PopupContent" style="width: 500px; height: 450px;">
	 <video id="wlMovie" width="480" height="368" controls>
		  <source src="/Content/WishLu_90second.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
		  <source src="/Content/WishLu_90second.ogg" type='video/ogg; codecs="theora, vorbis"' />
		  <source src="/Content/WishLu_90second.webm" type='video/webm; codecs="vp8, vorbis"' />
	 </video>
</div>

<script type="text/javascript">
	 function _VideoPartial() {
	 	 $('#wlMovie').get(0).play();
	 }
</script>