@{
    Layout = "~/Views/Shared/Templates/BlankLayout.cshtml";    
}

@section page {
    wishlu
}

@section meta {
    <link rel="canonical" href="//www.wishlu.com" />

    <!-- Google -->
    <meta name="description" content="the new way to give (and to get)." />
    <meta name="keywords" content="wishlu wish gift registry join" />

    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="application-name" content="wishlu" />

    <!-- Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="wishlu" />
    <meta property="og:title" content="wishlu" />
    <meta property="og:image" content="http://assets.wishlu.com/images/logobeta.jpg" />
    <meta property="og:url" content="http://www.wishlu.com" />
    <meta property="og:description" content="the new way to give (and to get)." />
}

@section styles {
<style>
    #WelcomePopup {
        position: fixed;
        z-index: 200;
        line-height: normal;
        /*top: 0;
    left: 0;*/
        /*height: auto;*/ /* 400px */
        height: 520px;
        width: 720px; /* 400px */
        /*display: none;*/
        margin: 100px auto;
        /*padding: 25px;*/
        color: #918b7d;
        font-family: Lato, Helvetica, Arial, Sans-Serif;
        background: #FFFFFF;
        font-size: 1.2em;
        border: 5px solid #D3EEF2;        
        border-radius: 15px;
    }

#WelcomeMask
{
   /*display: none;*/
   background: #000;
   position: fixed; 
   left: 0; 
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0.6;
   z-index: 100;    
}

.ontop {
    position: relative;
}

.ontop > span {
    position: absolute;
    top: -3px;
    left: 5px;
}
</style>
}

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
       // $("#WelcomeMask").fadeIn();

        //var h = $(window).height();
        var w = $(window).width();

        //var h2 = $(this).height() + 200;
        var w2 = $("#WelcomePopup").width();

        //var top = (h / 2) - (h2 / 2);
        var left = (w / 2) - (w2 / 2);

        //if (top < 0)
        //    top = 0;

        if (left < 0)
            left = 0;

        $("#WelcomePopup").css('left', left + 'px');
        //$(this).css('top', top + 'px');

        //$("#WelcomePopup").fadeIn();                
    });
        
    $(window).resize(function () {
        var element = $("#WelcomePopup");

        //var h = $(window).height();
        var w = $(window).width();

        //var h2 = $(element).height() + 200;
        var w2 = $(element).width();

        //var top = (h / 2) - (h2 / 2);
        var left = (w / 2) - (w2 / 2);

        //if (top < 0)
        //    top = 0;

        if (left < 0)
            left = 0;

        $(element).css('left', left + 'px');
        //$(element).css('top', top + 'px');
    });
</script>
}

@if (Request.Browser.IsMobileDevice)
{
    <div class="center" style="padding:5px;">        
        <img src="//assets.wishlu.com/images/logobeta.jpg" alt="wishlu logo" style="max-width:30%;max-height:30%;" />
        <h6>the new way to give (and to get).</h6>
        <p>create shareable, shoppable collections of the gifts you want and buy your family &amp; friends exactly what they want.</p>
        <a class="button pop full" style="font-size:24pt;" href="@Url.Action("index","join")">join.</a>
        <a class="button pop full" style="font-size:24pt; margin-top: 10px;" href="@Url.Action("signin")">sign in.</a>
    </div>
}
else
{
    <div class="center" style="position:absolute; top:0;bottom:0;left:0;right:0;">
        @{Html.RenderAction("shops", "get");}
    </div>
    
    <div id="WelcomeMask"></div>

    <div id="WelcomePopup" class="pop inset center">
        <div id="container" class="center" style="position: absolute; width:100%;">
            <h1 style="width:395px;height:236px; background: url('//assets.wishlu.com/images/logobeta.jpg') no-repeat; background-size:contain; color:transparent; font-size:0; display:inline-block;">
                <span>wishlu</span>
            </h1>
            @*<img src="//assets.wishlu.com/images/logobeta.jpg" alt="wishlu logo" style="max-width:50%;max-height:50%;" />*@
            <h4>the new way to give (and to get).</h4>
            <p>create shareable, shoppable collections of the gifts you want and buy your family &amp; friends exactly what they want.</p>
            <hr style="margin: 10px;" />
            <a class="btn button large pop" href="@Url.Action("index","join")">join.</a>
            <br />
            <br />
            <p>Already have an account? <a href="@Url.Action("signin")">Sign in now</a></p>
        </div>
    </div>
}