@model List<Squid.Wishes.Wish>
@using Disco.Common
@using System.Text.RegularExpressions
@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";       
}

@section page {
    gifts for others - wishlu
}

@section title {    
    <span>gifts for others</span>
}

@section styles {
}

@section scripts {

}

@section info {
    <div class="col_12" style="text-align:left;height:200px;">
    </div>
}

<div class="col_12 clearfix nomargin nopadding" style="border: 2px solid lightblue; border-radius: 15px; background:white;">
    
</div>