@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    FAQs- wishlu
}

@section title {
    FAQs
}

<div class="col_12" style="color:gray;">
    <div class="col_12">
        <ul>
            <li><a href="#how_wishlu_works">how does wishlu work?</a></li>
            <li><a href="#how_do_i_get_started">how do I get started?</a></li>
            <li><a href="#how_do_i_navigate">how do I navigate wishlu.com and discover its features?</a></li>
            <li><a href="#how_do_i_add">how do I add an item to a wishlu?</a></li>
            <li><a href="#how_do_i_bookmark">how do I add an item to wishlu that is not appearing in my search results by using the wishlu bookmarklet tool?</a></li>
            <li><a href="#how_do_i_search">how do I search online for an item to add to wishlu?</a></li>
            <li><a href="#how_do_i_add_custom">how do I add an item to wishlu that I can't find online?</a></li>
            <li><a href="#how_do_i_wishlu">how do I create a new wishlu?</a></li>
            <li><a href="#what_is_just_me">what is the just me wishlu?</a></li>
            <li><a href="#how_do_i_wishloop">how do I create a new wishloop?</a></li>
            <li><a href="#how_do_i_wishloop_people">how do I add people to a wishloop?</a></li>
            <li><a href="#wishloop_move_vs_copy">what is the difference between copying and moving a friend from one wishloop to another?</a></li>
            <li><a href="#how_do_i_share_wishlus">how do I share my wishlus with other people?</a></li>
            <li><a href="#who_can_see_my_wishlus">who can see my wishlus?</a></li>
            <li><a href="#how_do_i_invite">how do I invite people to be friends with me on wishlu?</a></li>
            <li><a href="#how_do_i_share_items">how do I share items with people?</a></li>
            <li><a href="#how_do_i_manage_wishlus">how do I view, manage, or edit my existing wishlus?</a></li>
            <li><a href="#what_if_i_forget">what if I forget to which wishlu I aissgned an item?</a></li>
            <li><a href="#how_do_i_know">how do I know if someone bought me one of my wishlu items as a gift?</a></li>
            <li><a href="#how_do_i_profile">how do I add to and update my wishlu profile?</a></li>
            <li><a href="#how_do_i_best_profile">how do I best use my wishlu profile?</a></li>
            <li><a href="#how_do_i_buy">how do I buy a friend one of his or her wishlu items as a gift?</a></li>
            <li><a href="#how_do_i_access">how do I access friends' profile pages?</a></li>
            <li><a href="#subscribe_to_updates">subscribe to updates about friends' gift items and their status.</a></li>
            <li><a href="#how_do_i_find">how do I find people who are using wishlu?</a></li>
            <li><a href="#wishlu_ideas">what are some wishlu ideas?</a></li>
            <li><a href="#wishloop_ideas">what are some wishloop ideas?</a></li>
            <li><a href="#how_do_i_control">how do I control my account settings on wishlu?</a></li>
            <li><a href="#how_do_i_control_privacy">how do I control privacy on wishlu?</a></li>
            <li><a href="#how_do_i_delete">how do I delete or block a person?</a></li>
            <li><a href="#how_do_i_use_wishlu">how do I use wishlu?</a></li>
        </ul>
    </div>
    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h2 id="how_wishlu_works">
            how does wishlu work?
        </h2>
        <div class="col_12">
            <h4>Here is how you use wishlu.com:</h4>
            <div class="col_12">
                <h5>Create wishlus.</h5>
                <ul>
                    <li><b>wishlus</b> are unique lists of anything you want from anywhere for any occasion. You create them and name them and organize them any way you please.</li>
                    <li>You can add as many items (wishes) as you want to one, some, or all of your wishlus, plus images, notes, cost, and location to make buying the perfect thing for you easy and fun.</li>
                </ul>
                <h5>Create wishloops.</h5>
                <ul>
                    <li><b>wishloops</b> are personalized and private circles of family & friends whom you invite to join you on wishlu.</li>
                    <li>Just like wishlus, you can create unique wishloops and name them and organize them any way you want.</li>
                </ul>
                <h5>Share your wishlus with your wishloops.</h5>
                <ul>
                    <li>Share your wishlus with selected wishloops so that members can view all of the important details about your wishes and buy (grant) them. Or, keep a wishlu private if you just want to keep track of future gift ideas—either for yourself or for someone else.</li>
                    <li>Much like traditional gift registries, wishlu keeps track of who is buying what so that multiples of one item are not purchased; however, wishlu is unique in that it keeps everything a secret until a date selected by the person buying an item—just like traditional gift giving.</li>
                </ul>
                <h5>Update your wishlu profile.</h5>
                <ul>
                    <li>Fill out <b>a few of my favorite things</b> to let your family & friends know your favorite everything: colors, perfume, sports teams, musicians, flowers etc. Doing so makes buying you a thoughtful anytime gift even easier.</li>
                    <li>Provide your clothing sizes in stats and your shipping address, too.</li>
                </ul>
                <h5>On your iPhone</h5>
                <h6>(free mobile apps for your ANdroid and iPad are coming soon.):</h6>
                <ul>
                    Just like wishlu.com, the free wishlu app for your iPhone lets you create unique wishlus and wishloops with your smartphone. Capture all of the important information about the things you want just by scanning items’ barcodes when you are out and about and then share the details with your wishloops, including images, notes, cost, and location.
                </ul>
                <h6>
                    Creating wishlus and wishloops is just the start.  We have an entire portfolio of smart and fun features on their way, and we can’t wait to share them with you. Be sure to stay on the lookout for correspondence from us about updates and quick tutorials to make the most of out of what you can do with wishlu.
                </h6>
            </div>
        </div>
    </div>
    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_get_started">
            how do I get started?
        </h3>
        <div class="col_12">
            <h4>get started in a few simple steps.</h4>
            <div class="col_12">
                <h5 style="text-decoration: underline;">
                    Add an item to your birthday wishlu.
                </h5>
                <ol>
                    <li>
                        Select “add a new item” on the home page and enter the name of an item you would like to receive as a birthday gift in the search bar, such as “Hunter boots.”
                    </li>
                    <li>
                        Click “view” on the item that best matches what you want in the search results.
                    </li>
                    <li>
                        Enter any details about the item you would like your friends to know, such as the size of the item you need or the color you would like by clicking the “notes” tab.
                    </li>
                    <li>
                        Click “add to a wishlu” and using the down arrow select your birthday wishlu.
                    </li>
                    <li>
                        Return to the home page by clicking on the wishlu “w” icon in the upper left hand corner and repeat the steps above as many times as you like to continue adding items to your birthday wishlu.
                    </li>
                </ol>
            </div>
            <div class="col_12">
                <h5 style="text-decoration: underline;">
                    Invite people to view your birthday wishlu.
                </h5>
                <ol>
                    <li>Click your name in the upper right hand corner of any page and select the “invite” link on the dropdown menu.</li>
                    <li>Enter the email addresses of people you would like to invite to view your wishlu and click “invite,” or select “invite whoever’s missing” to send requests to your Facebook friends to join you on wishlu.</li>
                    <li>When friends accept your invitation, you will be notified and they will automatically be placed in your friends wishloop.</li>
                    <li>By default, people who belong to your friends wishloop can see your birthday wishlu.</li>
                </ol>
            </div>
            <div class="col_12">
                <h5 style="text-decoration: underline;">Create your profile.</h5>
                <ol>
                    <li>Click your name in the upper right hand corner of any page and select the “profile” link on the dropdown menu.</li>
                    <li>Click the “edit profile” button in the upper right hand corner of the profile page.</li>
                    <li>Click the camera icon to upload a profile picture.</li>
                    <li>List your favorite things in the text box below “a few of my favorite things” to give people some ideas about the kinds of items that always make much appreciated gifts for you: your favorite fragrance, band, author, candy, team, restaurant, flowers, wine etc. Click the disk icon to save.</li>
                    <li>Enter your sizes under stats to help people when they are shopping for clothing for you. By default, your friends wishloop can see this information, but you can change who sees your stats via the privacy setting next to each dropdown.</li>
                    <li>Click the “stores and brands I like” to let people know the best places to shop for you.</li>
                    <li>Enter your shipping address for easy reference for your friends if they would like to send you a gift. By default, your address is private, but you can change who sees your stat via the privacy setting.</li>
                </ol>
            </div>
            <h6>Click the <i class="fa fa-fw fa-info-circle"></i> buttons wherever you see them for quick tips.</h6>
            <h6>To receive notifications when one of your friends adds an item to his or her wishlu, click the feed icon in the upper right corner of his or her wishlu.</h6>
        </div>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_navigate">
            how do I navigate wishlu.com and discover its features?
        </h3>
        <ul>
            <li>
                Click the “i” buttons wherever you see them for quick tips, helpful information, and easy directions.
            </li>
            <li>
                To move across the site, click your name in the upper right hand corner to access a dropdown menu of important links.
            </li>
            <li>
                To return to the home page from another page, click the “w” icon in the upper left hand corner.
            </li>
            <li>
                Use your browser’s back button or the site’s breadcrumbs to return to a previous page.
            </li>
        </ul>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_add">
            how do I add an item to a wishlu?
        </h3>
        <span>There are three ways you can add an item you would like to receive as a gift to an existing wishlu or to a new wishlu. First, click the green plus sign icon at the top of a page or click the “add new item” button on the dashboard. Then, you can add an item:</span>
        <ul>
            <li>
                Via the wishlu bookmarklet tool. Drag and drop the wishlu bookmarklet to your browser bar to add items from any product page on the web and follow the prompts. For more help, click here: <a href="#how_do_i_bookmark"><b><u>How do I add an item to wishlu that is not appearing in my search results using the wishlu bookmarklet tool?</u></b></a>
            </li>
            <li>
                By searching our database of retail partners by store, website, brand, or product. For more information, click here: <a href="#how_do_i_search"><b><u>How do I search online for an item to add to wishlu?</u></b></a>
            </li>
            <li>
                By adding an item manually, which allows you to enter details, URLs, and photos about any item that you may not be able to find online. For more help, click here: <a href="#how_do_i_add_custom"><b><u>How do I add an item to wishlu that I can’t find online?</u></b></a>
            </li>
        </ul>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_bookmark">
            how do I add an item to wishlu that is not appearing in my search results by using the wishlu bookmarklet tool?
        </h3>
        <span>The wishlu bookmarklet tool lets you add an item from any product page on the web.</span>
        <ol>
            <li>Click the “bookmarklet” link on the dropdown menu under your name in the upper right hand corner of the page.</li>
            <li>Drag and drop the “add to wishlu” icon to your browser.</li>
            <li>Any time you want to add an item from a product page on the web, make a note of its price, click on the icon in your browser, and select the image of the item you want.</li>
            <li>Enter any details about the item you would like your friends to know, such as the size of the item you need or the color you would like by clicking the “notes” tab.</li>
            <li>If you would like to add the item to an existing wishlu, click “add to a wishlu” and using the down arrow select the wishlu to which you would like to add the item.  If you would like to add the item to a new wishlu, click “add to a wishlu” and then type the name of your new wishlu in the text box. Save the information by clicking “add.”</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_search">
            how do I search online for an item to add to wishlu?
        </h3>
        <ol>
            <li>Click the green plus sign icon at the top of the page or select the “add a new item” button in the center of the dashboard, which you can access via the wishlu “w” icon in the upper left hand corner of a page.</li>
            <li>Enter the name of the item you would like to add in the search bar. You can search the products of our retail partners here by store, website, brand, or product name.</li>
            <li>If you would like to add an item to your “just me” wishlu, click “save” on the item that best matches what you want in the search results, or click “view” to add the item to an existing or new wishlu that you can share with others.</li>
            <li>Enter any details about the item you would like your friends to know, such as the size of the item you need or the color you would like by clicking the “notes” tab.</li>
            <li>If you would like to add the item to an existing wishlu, click “add to a wishlu” and using the down arrow select the wishlu to which you would like to add the item.  If you would like to add the item to a new wishlu, click “add to a wishlu” and then type the name of your new wishlu in the text box. Save the information by clicking “add.”</li>
            <li>Return to the home page by clicking on the “w” icon in the upper left hand corner and repeat the steps above as many times as you like to continue adding items to an existing or new wishlu.</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_add_custom">
            how do I add an item to wishlu that I can’t find online?
        </h3>
        <span>Some items you may want to add to wishlu can’t be found online. Say, for instance, you want to add an item you saw at a boutique that doesn’t have product pages online for all of its items. You can manually add information about the item to wishlu.</span>
        <ol>
            <li>Click the green plus sign icon at the top of a page or select the “add a new item” button in the center of the home page.</li>
            <li>Click the “add item manually” button on the next page.</li>
            <li>First, enter the name of the item.</li>
            <li>Next, click on the camera icon to upload a photo from your library and enter any other details you want about the item.</li>
            <li>If you would like to add the item to an existing wishlu, click “add to a wishlu” and using the down arrow select the wishlu to which you would like to add the item.  If you would like to add the item to a new wishlu, click “add to a wishlu” and then type the name of your new wishlu in the text box. Save the information by clicking “add.”</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_wishlu">
            how do I create a new wishlu?
        </h3>
        <ol>
            <li>Select “my wishlus” on the home page or via the “wishlus” link on the dropdown menu under your name in the upper right hand corner of any page and then click the “create a new wishlu” button.</li>
            <li>Enter the name of your new wishlu in the text box, such as “graduation.”</li>
            <li>If you would like, select a color for your new wishlu and choose a date that is associated with your wishlu. For example, if your graduation party is on June 7, you may want to link this date to your new graduation wishlu. Whenever you choose a date to associate with a wishlu, friends who have permission to view the wishlu will be reminded of the upcoming date and prompted to view the wishlu linked to it.</li>
            <li>Determine whether you want your new wishlu to be visible to everyone (public), some of your wishloops or individual friends (shared) or, for now, only you (private). By default your friends wishloop can see your new wishlu unless you deselect it under “wishloops” via “shared.”</li>
            <li>If you decide you want to share your wishlu, you can choose to share the wishlu with whichever wishloops you like by selecting “wishloops” under “who can see this wishlu?” or you can share your wishlu with individual wishlu friends by selecting “friends” under “who can see this wishlu?”</li>
        </ol>
        <h5>For more some fun wishlu ideas, click <a href="#wishlu_ideas">What are some wishlu ideas?</a></h5>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="what_is_just_me">
            what is the just me wishlu?
        </h3>
        <span>
            The “just me” wishlu is a private wishlu that only you can see. Add items to it and then sort them later or use this wishlu to keep track of future gift ideas for yourself or others.
        </span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_wishloop">
            how do I create a new wishloop?
        </h3>
        <ol>
            <li>Click your name in the upper right hand corner of any page and select the “wishloops” link on the dropdown menu to access the my wishloops page. You can also access “my wishloops” via the button on the home page, which you can go to from any other page via the wishlu “w” icon in the upper left hand corner.</li>
            <li>Click the “create a new wishloop” button on the my wishloops page.</li>
            <li>Enter the name of your new wishloop and choose a color for it.</li>
            <li>If you would like, you can choose which wishlus your new wishloop can see.</li>
            <li>Click “create” to save the information about your new wishloop.</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_wishloop_people">
            how do I add people to a wishloop?
        </h3>
        <span>There are a few ways you can add people to a wishloop. Your friends don’t know to which wishloops they belong.</span>
        <h5><u>To add people to a wishloop from your friends wishloop:</u></h5>
        <ol>
            <li>When people accept your request to join you on wishlu, they are automatically placed in your friends wishloop. To assign people to other wishloops, go to your friends wishloop by clicking on the “my wishloops” button on the home page or via the “wishloops” link on the dropdown menu by clicking on your name in the upper right hand corner of any page.</li>
            <li>Select the members you would like to copy to another wishloop by clicking on them individually or by selecting “all” next to “select members.”</li>
            <li>Click “copy members” under “action” and select the wishloops to which you would like to add your friends. Select “copy” to complete the action.</li>
        </ol>
        <h5><u>To add people to a wishloop from their profile page:</u></h5>
        <ol>
            <li>Select the “friends” link on the dropdown menu under your name in the upper right hand corner of any page or simply click on any friend’s name above his or her profile picture wherever it is visible on the site. Both actions will land you on your friend’s profile page.</li>
            <li>From your friend’s profile page, you can manage to which wishloops he or she belongs. On the right hand side of the page, click “add to wishloop” to add your friend to another wishloop or click the “X” to remove your friend from a wishloop to which he or she belongs.</li>
        </ol>
        <h5><u>To add, remove, move, or copy people from one wishloop to another:</u></h5>
        <ol>
            <li>Select any wishloop to view by clicking on it via your my wishloops page, which you can access via the “my wishloops” button on the home page or via the “wishloops” link on the dropdown menu under your name in the upper right hand corner of any page.</li>
            <li>To add members to this wishloop, click “add” and select the people you would like to add.</li>
            <li>To remove members from this wishloop, select the members you would like to remove by clicking in the upper right hand corner of their individual tiles (or by selecting “all” next to “select members”). Next, click “remove” under actions.</li>
            <li>To move members from this wishloop to another wishloop, select the members you would like to move by clicking in the upper right hand corner of their individual tiles (or by selecting “all” next to “select members”). Next, click “move” under actions and choose the wishloops to where you want to move your friend(s).</li>
            <li>To copy members from this wishloop to another wishloop, select the members you would like to copy by clicking in the upper right hand corner of their individual tiles (or by selecting “all” next to “select members”). Next, click “copy” under actions and choose the wishloops you to where you want to copy your friend(s).</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="wishloop_move_vs_copy">
            what is the different between copying and moving a friend from one wishloop to another?
        </h3>
        <span>If you choose to move a friend from one wishloop to another wishloop, he or she will no longer belong to the wishloop from where you moved him or her.</span>
        <br />
        <span>If you choose to copy a friend from one wishloop to another wishloop, he or she will still belong to the wishloop from where you copied him or her, in addition to the new wishloops.</span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_share_wishlus">
            how do I share my wishlus with other people?
        </h3>
        <span>By default, your friends wishloop can see your birthday wishlu, as well as any other wishlus you create unless you manually manage wishlu visibility. You may do so by following the directions below.</span>
        <br />
        <span>Once you have added items to your birthday wishlu or a new wishlu, you can share it with other people. Click here for information about <a>how to create a new wishlu</a> or <a>how to add an item to wishlu</a>.</span>
        <ol>
            <li>Find and select the wishlu you want to share by clicking the “my wishlus” button on the home page or by clicking the “wishlus” link on the dropdown menu under your name in the upper right hand corner of the page.</li>
            <li>On the left hand side of the wishlu page, first choose the wishlu’s visibility. Choose “public” to allow everyone to see it, choose “shared” to allow one, some, or all of your wishloops or individual friends to see it, or choose “private” if you want only you to be able to view it for now.</li>
            <li>If you selected “share,” you will have two further options; you can choose to share your wishlu with wishloops via “wishloops” or with individual friends via “friends.” Select “wishloops” to choose which of your wishloops can see your wishlu. Click “assign” to save. Select “friends” to choose which of your friends can see your wishlu. Click “assign” to save.</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="who_can_see_my_wishlus">
            who can see my wishlus?
        </h3>
        <span>Everyone who accepts a friend request by you belongs to your friends wishloop. By default, your friends wishloop can see your birthday wishlu, as well as any other wishlus you create unless you manually manage each wishlu’s visibility. You may manage a wishlu’s visibility when you create it or you can change its visibility whenever you like.</span>
        <br />
        <span>By default, your friends wishloop can see your birthday wishlu, as well as any other wishlus you create unless you manually manage wishlu visibility. <a href="#how_do_i_share_wishlus"><b><u>Click here to learn more about how to share a wishlu with other people.</u></b></a></span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_invite">
            how do I invite people to be friends with me on wishlu?
        </h3>
        <ol>
            <li>Click the “invite” link on the dropdown menu under your name in the upper right hand corner of any page.</li>
            <li>Enter friends’ email addresses in the field on the left to send them an invitation or click the “invite whoever’s missing” button on the right to send an invite to your Facebook friends who are not yet on wishlu. Any Facebook friends who are on wishlu, but are not yet your wishlu friend will appear under “see who’s here.” Click on his or her profile picture to send him or her an invite.</li>
            <li>You may also want to visit current wishlu friends’ profile pages to see suggested friends. Click here to see <a href="#how_do_i_access"><b><u>how to access friends’ profile pages</u></b></a>.</li>
        </ol>
        <span>Once people accept your request, they will automatically belong to your friends wishloop. You can assign them to as many other wishloops as you want via the “add” and “move” commands on every individual wishloop page and via their profile pages.</span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_share_items">
            how do I share items with people?
        </h3>
        <span>
            There are several ways to share an item you would like to receive as a gift. First, click the image of any item you have added to wishlu, and then you can share it:
        </span>
        <ol>
            <li>By posting it or sending it via Facebook</li>
            <li>By tweeting it on Twitter</li>
            <li>By pinning it on Pinterest</li>
            <li>By posting it to Tumblr</li>
            <li>By sharing it via Google+</li>
        </ol>
        <span>When people who have your permission to view the wishlu to which an item belongs click on the link you share via one of the ways listed above, they can see all of the item’s details and choose to gift you the item.</span>
        <br />
        <span>
            You can also click “send to my phone” from your item’s page.
            Forward the text message, which contains a link to the item’s info, to a friend for quick sharing. See How do I control my account settings? for directions on how to add your mobile number to wishlu.
        </span>
        <br />
        <span>
            See <a href="#how_do_i_share_wishlus"><b><u>How do I share my wishlus with other people?</u></b></a> for help with sharing entire wishlus with others.
        </span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_manage_wishlus">
            how do I view, manage, or edit my existing wishlus?
        </h3>
        <ol>
            <li>To view an existing wishlu, first click the “my wishlus” on the home page or click the “wishlus” link on the dropdown menu under your name in the upper right hand corner of the page. Next, click on the wishlu you would like to view. You can also click on any wishlu via your profile page.</li>
            <li>From here, you can manage and edit all of the details about your wishlu, its visibility and the individual items in the wishlu.</li>
            <li>To view, manage, or edit the details about an individual item, click on the item’s image in your wishlu. You can also access individual items via the “items” link in the dropdown menu under your name in the upper right hand corner of any page.</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="what_if_i_forget">
            what if I forget to which wishlu I assigned an item?
        </h3>
        <span>
            It’s easy to find any item that you have added to any wishlu. Simply click on the “items” link on the dropdown menu under your name in the upper right hand corner of the page. Use the sorter to help you locate one of your items alphabetically, price, rating, or date added.
        </span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_know">
            how do I know if someone bought me one of my wishlu items as a gift?
        </h3>
        <ol>
            <li>In order for someone to gift you one of your items on wishlu, he or she must have been given permission by you to view the wishlu to which the item belongs.</li>
            <li>If your friend decides to give you the item as a gift by clicking “give,” the item will be marked and seen as “gifted” to everyone who can see this item so that he or she knows someone has already bought (or plans on buying) the item for you. You will not see “gifted” when viewing the item until a specific date chosen by the person who bought you the gift (see 4 below).</li>
            <li>If you requested more than one of the item, the item will not be marked as “gifted” until the entire quantity you asked for has been bought for you.</li>
            <li>When friends opt to give you an item as a gift on wishlu, they are required to enter a date to notify you. On this date, you will receive a notification from your friend. You may confirm via a link included in this notification whenever you receive your gift. Alternatively, you may select the “confirm as received” button on that item’s page.</li>
            <li>The item will visibly become marked as “gifted” to you at the same time your friend’s notification is sent to you.</li>
            <li>To view the history of an item, click the “gift status” tab on the item’s page.</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_profile">
            how do I add to and update my wishlu profile?
        </h3>
        <span>
            Your wishlu profile lets you help others more easily find thoughtful gifts for you. To learn more, see How do I best use my wishlu profile:? To go to your profile page, click your name in the upper right hand corner of the page. Or, click the “profile” link on the dropdown menu under your name. On your profile page select “edit profile” in the upper right hand corner to add or edit:
        </span>
        <ol>
            <li>Your profile photo. Click the camera icon to select a photo from your library.</li>
            <li>A few of my favorite things. Click the disk icon to save your information.</li>
            <li>Your personal stats. You can choose who sees what via the dropdown menu next to each stat.</li>
            <li>The stores and brands you like and want to follow. Click the “stores and brands I like” link.</li>
            <li>Your shipping address. Once you enter it, you can choose who sees it via the dropdown menu next to your zip code. Click the disk icon to save your info.</li>
            <li>Click “view profile” in the upper right hand corner to see your updated profile.</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_best_profile">
            how do I best use my wishlu profile?
        </h3>
        <span>
            You have access to almost every wishlu feature from your profile page, including your friends’ profiles and your wishlus. Plus, your profile page gives you the opportunity to provide your friends and family with very useful information that will make buying a gift for you a snap.
        </span>
        <ul>
            <li><b>A few of my favorite things:</b> list what you love to give your friends and family some ideas for a perfect present for you. List your favorite perfume, boutique, team, band, flower, wine, candy, color, restaurant, spa service, or hobby.</li>
            <li><b>Stores and brands I like:</b> let friends and family know the stores and websites where they can’t go wrong when shopping for you.</li>
            <li><b>Stats:</b> List your clothing sizes to help others on the hunt for something perfect for you. You can manage who sees a stat via the dropdown menu next to each.</li>
            <li><b>Shipping address:</b> Give your friends and family an easy way to mail gifts and cards to you. You can manage who sees your address via the dropdown menu next to your zip code. For more info, click <a href="#how_do_i_profile"><b><u>How do I add to or update my wishlu profile?</u></b></a></li>
        </ul>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_buy">
            how do I buy a friend one of his or her wishlu items as a gift?
        </h3>
        <span>
            You can only buy as gifts items that belong to a wishlu that your friend has given you permission to view.
        </span>
        <br />
        <span>To buy your friend a gift:</span>
        <ol>
            <li>Click “friends” on the dropdown menu under your name in the upper right hand corner of the page.</li>
            <li>Select the friend for whom you want to buy a gift by clicking on his or her profile photo.</li>
            <li>From your friend’s profile page, select the wishlu you want to view.</li>
            <li>Click the photo of any item to view its details, including the link to the website where you can purchase it.</li>
            <li>If you decide to buy an item for a friend, click “give.” You will then be prompted to choose a date on which your friend will be notified that you bought him or her the item. Once notified, he or she will have the opportunity to confirm whether you have given him or her the gift.</li>
            <li>When you opt to give a friend an item as a gift via the “give” button, the item will be marked as “gifted” to everyone else who has permission to view the item so that everyone else knows you have bought (or plan on buying) the item.  Your friend will not see the item marked as gifted until the notification is sent to him or her on the date you chose.</li>
            <li>If your friend requested more than one of the same item, the “gifted” status will not be marked until all quantities have been given.</li>
            <li>For a history of an item’s status, click the “gift status” tab on your friend’s item page.</li>
        </ol>
        <span>
            You can also visit friends’ profile pages to view some very helpful information when it comes to buying them a gift: a list of their favorite things, which always makes for perfect presents; their favorite stores and brands; their clothing sizes and their shipping address. See <a href="#how_do_i_access"><b><u>How do I access friends’ profile pages?</u></b></a>
        </span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_access">
            how do I access friends' profile pages?
        </h3>
        <span>
            To access a friend’s profile page, click on his or her profile photo wherever it is visible: in your wishloops, on your profile page, or via the “friends” link on the dropdown menu under your name in the upper right hand corner of the page.
        </span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="subscribe_to_updates">
            subscribe to updates about friends' gift items and their status.
        </h3>
        <span>You can opt to receive a notification whenever friends add an item to one of their wishlus, whenever someone else gives them an item listed on their wishlus, or whenever they confirm receiving an item listed on their wishlus. To subscribe to these notifications, click on the feed icon in the upper right hand corner of a friend’s wishlu.</span>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_find">
            how do I find people who are using wishlu?
        </h3>
        <span>You can</span>
        <ol>
            <li>Enter a person’s name in the search bar in the upper left hand corner of the page for a list.</li>
            <hr class="or" />
            <li>Select the “invite” link on the dropdown menu under your name in the upper right hand corner and see which of your Facebook friends are using wishlu.</li>
            <hr class="or" />
            <li>Select the “friends” link on the dropdown menu under your name in the upper right hand corner to see a list of suggested friends (friends of friends who are using wishlu).</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="wishlu_ideas">
            what are some wishlu ideas?
        </h3>
        <span>You can create wishlus for any occasion.</span>
        <ul>
            <li>They work in traditional situations, like a bridal or baby shower.</li>
            <li>They also work for <i>any</i> gift-giving occasion; create wishlus for graduation parties, anniversaries, holidays, housewarmings, or your daughter’s fifth birthday party. Share the wishlu with the guests.</li>
            <li>Gift exchanges (click <a href="#wishloop_ideas"><b><u>What are some wishloop ideas</u></b></a> for more info).</li>
        </ul>
        <span>You can create wishlus for any reason.</span>
        <ul>
            <li>To help you reach a particular goal, like new exercise gear</li>
            <li>To help you complete a collection or DIY project</li>
            <li>To help you pursue a hobby, like gardening</li>
        </ul>
        <span>You can create wishlus for anyone.</span>
        <ul>
            <li>For others. Make a wishlu for your five-year-old and share it with a wishloop of guests invited to her upcoming birthday party.</li>
            <li>For yourself. Keep track of items you love in your “just me” wishlu or create a private wishlu of future gift ideas for your spouse.</li>
        </ul>
        <h5>Click the light bulb icon on the my wishlus page for more wishlu ideas.</h5>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="wishloop_ideas">
            what are some wishloop ideas?
        </h3>
        <span>You can create wishlus for any occasion.</span>
        <ul>
            <li>You can share wishlus with a wishloop of guests you invite to a birthday party, a graduation party, a shower, or a housewarming party.</li>
            <li>You can create a wishloop for a gift exchange.</li>
            <li>You can create a wishloop that has just one member, such as your spouse.</li>
            <li>You can create a wishloop for family members or close friends only.</li>
        </ul>
        <h5>Click the light bulb icon on the my wishloops page for more wishloop ideas.</h5>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_control">
            how do I control my account settings on wishlu?
        </h3>
        <span>Click “settings” on the dropdown menu under your name in the upper right corner of the page. From settings, you can</span>
        <ol>
            <li>Update your name, handle, email, birthday, and wishlu password.</li>
            <li>Set privacy and notification settings.</li>
            <li>Connect your wishlu account to Facebook, Twitter, and Google+.</li>
            <li>Manage blocking people.</li>
            <li>Add or update your mobile number so that you can send a link to a wishlu item to your phone for easier in-store shopping or to pass it along to someone else for a quick hint or reminder.</li>
        </ol>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_control_privacy">
            how do I control privacy on wishlu?
        </h3>
        <span>To manage who can see your profile, who can follow you, who can contact you, and who can look you up on wishlu:</span>
        <ol>
            <li>Click “settings” on the dropdown menu under your name in the upper right hand corner of the page.</li>
            <li>Click “privacy” on the left navigation bar of your settings page.</li>
        </ol>
        <span>To manage who can see your stats and shipping address:</span>
        <ol>
            <li>As you enter your stats on your profile page, choose who can see them via the dropdown menu next to each one.</li>
            <li>After you enter your shipping address, choose who can see it via the the dropdown menu next to your zipcode.</li>
        </ol>
        <span>To manage who can see your wishlus:</span>
        <ul>
            <li>Your “only me” wishlu is always private.</li>
            <li>From any wishlu’s page, select “public,” “shared,” or “private” to manage its visibility. If you choose “shared,” you can then choose whether to share the wishlu with particular wishloops or with individual friends. Everyone can see public wishlus and only you can see private wishlus.</li>
            <li>By default, new wishlus are shared with your friends wishloop unless you opt to change its visibility.</li>
        </ul>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_delete">
            how do I delete or block a person?
        </h3>
        <ul>
            <li>You can delete people from wishlu by clicking “unfriend” on their profile page.</li>
            <li>You can block a person via the “block” button on his or her profile page or by clicking “settings” on the dropdown menu under your name in the upper right hand corner of the page and then selecting “blocking” on the left navigation bar.</li>
        </ul>
    </div>

    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h3 id="how_do_i_use_wishlu">
            how do I use wishlu?
        </h3>
        <ul>
            <li><b>Navigate wishlu.com and discover wishlu’s features:</b> Click your name in the upper right hand corner to access links to various pages and features of the site.</li>
            <li><b>Create a new wishlu</b> via the “create a new wishlu” button found on the my wishlus page, which you can access via the “wishlus” link under your name in the upper right hand corner of every page or via “my wishlus” on the home page. Return to the home page by clicking on the wishlu “w” icon in the upper left hand corner of every page.</li>
            <li><b>Add a new item to your wishlu</b> via the “add a new item” button on the home page and every individual wishlu page or via the green plus sign icon at the top of every page. You can add items to a wishlu by searching our partner retailers’ site, manually, and via the wishlu bookmarklet tool, which you can easily install by clicking on “bookmarklet” under your name in the upper right hand corner of every page.</li>
            <li><b>View and manage all of the items in your wishlus</b> via the “items” link under your name in the upper right hand corner of every page</li>
            <li><b>Edit the details about your gift items or share them with people</b> by clicking individual gift item tiles wherever they appear on the site.</li>
            <li><b>Share your wishlu with other people.</b> Create a new wishlu on the home page or via the “wishlus” link under your name in the upper right hand corner of every page. From the wishlu page, share your wishlu with all, some, or one of your wishlu friends. You can also give viewing privileges to one, some, or all of your wishloops—private circles of family and friends you create—so that they can see your wishlu. wishlu will keep track of who is buying what for you, just like a traditional registry, so that multiples of the same gift are not bought, unless you have requested more than one of the same item. You won’t know when someone has bought you something until he or she notifies you via wishlu.</li>
            <li><b>Invite people to join you on wishlu</b> by clicking the “invite” link under your name in the upper right hand corner of every page, entering their name in the search bar in the upper left hand corner of every page, or via "suggested friends" on your "friends" page. Once people accept your request, they will automatically belong to your friends wishloop. You can assign them to as many other wishloops as you want via the “add” and “move” commands on every individual wishloop page and via friends' profile pages.</li>
            <li><b>Create a new wishloop</b> via the “create a new wishloop” button on the my wishloops page, which you can access via the “wishloops” link under your name in the upper right hand corner of every page or via “my wishloops” on the home page. Return to the home page by clicking on the wishlu “w” icon in the upper left hand corner of every page.</li>
            <li><b>Find and buy your friend a gift.</b> View your friends’ wishlus via their profile page by clicking on the “friends” link under your name in the upper right hand corner of every page or by clicking on their photo wherever it appears. If a gift in your friend’s wishlu is marked with “gifted” status, someone else has already bought, or plans to buy the item. If a gift is marked with “gifted” status plus a check mark, your friend has confirmed that he or she has already received the item from someone else. Any gift that is not marked as “gifted,” is still available for you to buy for your friend. Click on the gift item tile to view all the details about the gift and to access the link to the website where you can buy the gift. Click “give” if you have purchased or plan on purchasing the item for your friend. You will then be prompted to enter the date you would like wishlu to notify your friend that you have bought him or her the item. The item will be marked as “gifted,” which will appear to others--but not your friend until he or she is notified. This prevents duplicate gifting while keeping it a surprise.</li>
            <li><b>Utilize your friend’s profile page.</b> Click your friends’ photos wherever they appear on the site to view their profile pages, which provides you lots of useful information when it comes to buying them a gift: their favorite things, their favorite stores and brands, their sizes, and their shipping address.</li>
            <li><b>Update your profile page.</b> Click “profile” under your name in the upper right hand corner of every page to create, manage, and update your profile. Select “edit profile” on your profile page to upload your photo, add your favorite things, stores, and brands, as well as your shipping address and sizes. You can control who sees your shipping address and sizes via privacy controls on the edit profile page. You can also access your wishlus here.</li>
            <li><b>Use the wishlu bookmarklet tool.</b> The wishlu bookmarklet tool makes it easy for you to add items to one of your wishlus from any product page on the web. Drag and drop the bookmarklet  to your browser’s bookmark bar. Then, whenever you see an item online that you want to add to your wishlu, simply click on the wishlu bookmarklet and follow the prompts.</li>
            <li><b>Manage your account settings</b> via the “settings” link under your name in the upper right hand corner of every page.</li>
        </ul>
    </div>
</div>