@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    about - wishlu
}

@section title {
    about
}

<div class="col_12">
    <div class="col_4">
        <h4>
            <a href="#what_is_wishlu">what is wishlu?</a>
        </h4>
        <h4>
            <a href="#how_do_i_get_started">how do I get started?</a>
        </h4>
    </div>
    <div class="col_8">

    </div>
    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h2 id="what_is_wishlu">
            what is wishlu?
        </h2>
        <div class="col_12">
            <h4>wishlu is the new way to give (and to get).</h4>
            <span>
                With wishlu the art of gifting gets smart. wishlu makes giving and receiving easier and more fun than ever. wishlu is an interactive website that offers the perfect way for people to create and curate shoppable, shareable collections of gifts they would like to receive from any store or website.
            </span>
        </div>
        <div class="col_12">
            <h4>A wishlu is a wish list, but better.</h4>
            <span>
                Think of wishlu as a personal collection of mixed & matched gift registries from any store or website. No longer are people limited to choosing only one or two places to register, and gift registries are no longer an option for only brides and mothers-to-be. With wishlu, anyone can create unique gift registries for any occasion, including baby showers, bridal showers, and beyond. Make wishlus for birthdays, Christmas, anniversaries, graduation or a housewarming party.  The possibilities are infinite.
            </span>
        </div>
        <div class="col_12">
            <h4>Gifting has (finally) evolved.</h4>
            <span>
                People like to give each other gifts for lots of different reasons. But we don’t like to stress, guess, re-gift, or give people we care about things they don’t want or need. We also like to receive the things we really want or need. wishlu makes giving and receiving the perfect present a snap. The tradition of giving has been around forever, and it’s true: it has worked OK. But now, with wishlu, it works better.
                <a href="/about/faqs"><b><u>Click here to see how wishlu works.</u></b></a>
            </span>
        </div>
    </div>
    <div class="col_12" style="border: 2px solid lightblue; background: white; border-radius: 15px; padding:10px;">
        <h2 id="how_do_i_get_started">
            how do I get started?
        </h2>
        <div class="col_12">
            <h4>get started in a few simple steps.</h4>
            <div class="col_12">
                <h5 style="text-decoration: underline;">
                    Add an item to your birthday wishlu.
                </h5>
                <ol>
                    <li>
                        Select “add a new item” on the home page and enter the name of an item you would like to receive as a birthday gift in the search bar, such as “Hunter boots.”
                    </li>
                    <li>
                        Click “view” on the item that best matches what you want in the search results.
                    </li>
                    <li>
                        Enter any details about the item you would like your friends to know, such as the size of the item you need or the color you would like by clicking the “notes” tab.
                    </li>
                    <li>
                        Click “add to a wishlu” and using the down arrow select your birthday wishlu.
                    </li>
                    <li>
                        Return to the home page by clicking on the wishlu “w” icon in the upper left hand corner and repeat the steps above as many times as you like to continue adding items to your birthday wishlu.
                    </li>
                </ol>
            </div>
            <div class="col_12">
                <h5 style="text-decoration: underline;">
                    Invite people to view your birthday wishlu.
                </h5>
                <ol>
                    <li>Click your name in the upper right hand corner of any page and select the “invite” link on the dropdown menu.</li>
                    <li>Enter the email addresses of people you would like to invite to view your wishlu and click “invite,” or select “invite whoever’s missing” to send requests to your Facebook friends to join you on wishlu.</li>
                    <li>When friends accept your invitation, you will be notified and they will automatically be placed in your friends wishloop.</li>
                    <li>By default, people who belong to your friends wishloop can see your birthday wishlu.</li>
                </ol>
            </div>
            <div class="col_12">
                <h5 style="text-decoration: underline;">Create your profile.</h5>
                <ol>
                    <li>Click your name in the upper right hand corner of any page and select the “profile” link on the dropdown menu.</li>
                    <li>Click the “edit profile” button in the upper right hand corner of the profile page.</li>
                    <li>Click the camera icon to upload a profile picture.</li>
                    <li>List your favorite things in the text box below “a few of my favorite things” to give people some ideas about the kinds of items that always make much appreciated gifts for you: your favorite fragrance, band, author, candy, team, restaurant, flowers, wine etc. Click the disk icon to save.</li>
                    <li>Enter your sizes under stats to help people when they are shopping for clothing for you. By default, your friends wishloop can see this information, but you can change who sees your stats via the privacy setting next to each dropdown.</li>
                    <li>Click the “stores and brands I like” to let people know the best places to shop for you.</li>
                    <li>Enter your shipping address for easy reference for your friends if they would like to send you a gift. By default, your address is private, but you can change who sees your stat via the privacy setting.</li>
                </ol>
            </div>
            <h6>Click the <i class="fa fa-fw fa-info-circle"></i> buttons wherever you see them for quick tips.</h6>
            <h6>To receive notifications when one of your friends adds an item to his or her wishlu, click the feed icon in the upper right corner of his or her wishlu.</h6>
        </div>
    </div>
</div>