@model List<Squid.Users.User>
@foreach (Squid.Users.User friend in Model)
{
    try
    {
        <div class="col_2 center pop nomargin user" style="margin-right:5px !important; margin-bottom:5px !important; width: 175px; height: 175px; background: white; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; border: 2px solid gray;">
            <a href="@Url.Action("view", "user", routeValues: new { @id = friend.Id })">
                <div class="col_12 circle pop" style="margin-bottom: 0;float:none;display: inline-block; position: relative; color: #a8a096; background-size: cover; background-position: center; background-image: url('@(!String.IsNullOrEmpty(friend.ImageUrl) ? friend.Image : "//assets.wishlu.com/images/GenericFriend.png")'); background-color: white; width: 100px; height: 100px;">
                </div>
                <h6 class="lowercase nomargin" style="font-size:10pt;">
                    @(friend.FullName)
                </h6>
            </a>
            @if (!friend.FriendRequestExists(UserId) && !friend.IsFriend(UserId) && friend.Id != UserId)
            {
                <a class="button pop request_friend" href="#" style="padding:5px;" data-id="@friend.Id">
                    add friend
                </a>
            }
            else if (!friend.IsFriend(UserId) && friend.Id != UserId)
            {
                <a class="button pop disabled" href="#" style="padding:5px;">
                    request sent
                </a>
            }
        </div>
    }
    catch { }
}