@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";
}

@section page {
    sitemap - wishlu
}

@section title {
    sitemap
}

<div class="col_12">
    <a href="/sitemap/members">Members</a>
    <a href="/sitemap/stores">Stores</a>
    <a href="/sitemap/categories">Categories</a>
</div>