<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtpout.secureserver.net" userName="no-reply@wishlu.com" password="ballsOfSteel#34" />
      </smtp>
    </mailSettings>
  </system.net>    
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <!-- Amazon.PAAPI.WCF -->
        <add name="signingBehavior" type="AWishLuWebServiceShared.Products.Amazon.AmazonSigningBehaviorExtensionElement, Amazon.PAAPI.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="amazonEndpointBehavior">
          <!--<signingBehavior accessKeyId="AKIAIJSDUIMP55BMFAAA" secretKey="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" />-->
          <signingBehavior accessKeyId="AKIAIJOIAWLQKXPB3I6Q" secretKey="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" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBindingTransport" maxReceivedMessageSize="6553600">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding10">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBindingTransport" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
      <endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortCA" />
      <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortCN" />
      <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortDE" />
      <endpoint address="https://webservices.amazon.es/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortES" />
      <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortFR" />
      <endpoint address="https://webservices.amazon.in/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortIN" />
      <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortIT" />
      <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortJP" />
      <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding9" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortUK" />
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding10" contract="AmazonWebServices.AWSECommerceServicePortType" name="AWSECommerceServicePortUS" />
    </client>
  </system.serviceModel>
</configuration>
