<div itemscope itemtype="http://schema.org/WebSite" class="hide">
    <meta itemprop="url" content="https://www.wishlu.com/">
    <form itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
        <meta itemprop="target" content="https://www.wishlu.com/search/?query={search_term}" />
        <input itemprop="query-input" type="text" name="search_term" required />
        <input type="submit" />
    </form>
</div>
