@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    contact us - wishlu
}

@section title {
    contact us
}

@section scripts {
<script>
    $(document).ready(function () {
        $("#contactForm").submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/contact/send",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                traditional: true,
                data: JSON.stringify(getContact()),
                success: function (data, status, request) {
                    if (data.result == true) {
                        $("#contact_submit").html("<i class='fa fa-check'></i>");
                        swal("Success!", data.message, "success");
                        $("#contact_subject").val("");
                        $("#contact_message").val("");
                    }
                    else {
                        swal("Uh oh...", data.message, "error");                        
                    }
                },
                error: function (data, status, request) { swal("Uh oh...", data.message, "error"); isRunning = false; }
            });
        });

        function getContact()
        {
            var data = {}
            data.Subject = $("#contact_subject").val();
            data.Message = $("#contact_message").val();

            return data;
        }
    });
</script>
}

<form class="form-horizontal col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" id="contactForm" name="contactForm" method="post" action="" role="form">
    <h3>We'd love to hear from you.</h3>
    <div class="form-group">
        <div class="col-xs-12">
            <h4>Subject</h4>
            <input id="contact_subject" class="form-control full" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <h4>Message</h4>
            <textarea id="contact_message" class="form-control full" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button class="btn btn-primary full" type="submit">
                Submit
            </button>
        </div>
    </div>
</form>