<footer class="center" style="position: fixed; bottom: 0; left: 0; right: 0; height: 25px; z-index: 1000; color: white; font-weight: bold; font-size: 10pt;">
    <a style="color:white;margin-right:10px;" href="/about">About wishlu</a>
    <a style="color:white;margin-right:10px;" href="http://blog.wishlu.com">Blog</a>
    @*<a style="color:white;margin-right:10px;" href="https://retailers.wishlu.com">Retailers</a>*@
    @*<a style="color:white;margin-right:10px;" href="https://developers.wishlu.com">Developers</a>*@
    <a style="color:white;margin-right:10px;" href="/tos">Terms &amp; Privacy</a>
    @*<a style="color:white;margin-right:10px;" href="https://help.wishlu.com">Help</a>*@
    <a style="color: white;" href="//www.wishlu.com/sitemap">Sitemap</a>
</footer>