<style>
	.navigation {
		background: #3c3933;
		position: absolute;
		width: 240px;
		max-width:240px;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		overflow-y: auto;		
	}

		.navigation h3 {
			color: #cbbfad;
			font-size: 18px;
			font-weight: bold;
			padding: 15px 20px;
			margin: 0;
			background: #282522;			
		}

			.navigation h3 a {
				display: inline;
				color: #cbbfad;
				font-size: 18px;
				font-weight: bold;
				margin: 0;
				padding: 0;
				text-decoration: none;
				border:none;
			}

			.navigation h3 a:hover {
				background:none;
			}

			.navigation h3 a:active {
				background:none;
			}

		.navigation a {
			display: block;
			color: #fff;
			font-size: 16px;
			/*font-weight: bold;*/
			text-decoration: none;
			border-top: 1px solid #57544e;
			border-bottom: 1px solid #312e2a;
			padding: 10px;
		}

			.navigation a:hover {
				background: #258ecd;
			}

			.navigation a:active {
				background: #454f5c;
				color: #fff;
			}

	header {
		background: linear-gradient(center top, #efefef, #ababab);
		background: -moz-linear-gradient(center top, #efefef, #ababab);
		background: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#ababab));

		position:relative;
		top:0;
		left:0;
		width:100%;
		
		min-height:44px;
		height:44px; /*44px size of Facebook's */
		/*height: 16px;*/
		padding: 5px 10px;		
		overflow:hidden;

		z-index:10;
	}    
		
	.slide-checkbox {
		position: fixed;
		clip: rect(0, 0, 0, 0);
	}

	label[for="slide-checkbox"] {
		background: url('//assets.wishlu.com/images/mobile/icon_nav.png') no-repeat left top;
		cursor: pointer;
		height: 27px;
		width: 33px;
		text-indent: -99999em;
		position:absolute;
		top:8px;
		left:10px;
		z-index:20;
	}

	.slide-checkbox:checked + label {
		-moz-transform: translateX(240px);
		-ms-transform: translateX(240px);
		-o-transform: translateX(240px);
		-webkit-transform: translateX(240px);
		transform: translateX(240px);
		background-position: -33px top;
	}

	.slide-checkbox:checked ~ .slide {
		-moz-transform: translateX(240px);
		-ms-transform: translateX(240px);
		-o-transform: translateX(240px);
		-webkit-transform: translateX(240px);
		transform: translateX(240px);	
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);	
	}

	.slide-checkbox + label, .slide {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}	
	
</style>

<header>    
	<h3 class="text-center nomargin">wishlu</h3>
</header>