<header class="pop" style="height: 45px; background: white; position:fixed; width: 100%; z-index: 20;">
    <nav class="header">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="dashLogo">
                <a href="//www.wishlu.com" style="position: absolute; left: 50%; margin-left: -20px; padding-top: 2px;">
                    <img src="//assets.wishlu.com/images/centerLogo.png" alt="wishlu" style="width: 40px; height: 40px;" />
                </a>
            </div>

            <div class="profileNav" style="position: relative; display: inline-block; float: right; margin-right: 5px; padding-top: 15px;">
                <span class="right uppercase headerfontnormal linkStyle" id="headerSignIn"><a href="/signin?returnurl=@Url.Encode(Request.Url.ToString())">sign in</a></span>
                <span class="right uppercase headerfontnormal">|</span>
                <span class="right uppercase headerfontnormal linkStyle"><a href="/join/register">join.</a></span>
            </div>
        </div>
    </nav>
</header>