@using Disco.Common
@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    wishlu - dash
}

@section title {
    home page
}

@section styles {

}

@section scripts {
    <script type="text/javascript" src="//assets.wishlu.com/js/jquery.autosize.min.js"></script>
    @*<script type="text/javascript" src="//assets.wishlu.com/js/freewall.js"></script>*@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="//assets.wishlu.com/js/imagesloaded.pkgd.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".WishLuNavigationBar").hide();

            $.get("/get/feed", null, function (result) {
                $("#feed_container").html(result);
                
                /*var wall = new freewall("#feed_container");

                wall.reset({
                    selector: ".item",
                    animate: true,
                    cellW: 250,
                    cellH: 'auto',
                    onResize: function () { wall.fitWidth(); }
                });*/

                $("#feed_container").imagesLoaded(function() {
                    var mason = $("#feed_container").masonry({                        
                        //columnWidth: "20%",
                        //gutter: "1%",
                        itemSelector: '.item'
                    });
                    $(".item").hide().css("visibility","visible").fadeIn();
                    $("#loadingProducts").hide();
                    /*$("#feed_container").hide().css("visibility", "visible").fadeIn();
                    mason.on("layoutComplete", function () {
                        $("#loadingProducts").hide();
                        $("#feed_container").hide().css("visibility","visible").fadeIn();
                    });*/
                });

                //wall.unFilter();

                /*wall.fixPos({
                    top: 0,
                    left: 2,
                    block: $('.action')
                });

                wall.fixSize({
                    height: "auto",
                    width: 400,
                    block: $('.action')
                });*/

                //wall.fitWidth();
                
                //window.wall = wall;
            });
        });
    </script>

    <script>
        var page = 1;
        var gettingFeed = false;

        $(document).ready(function () {
            var SCROLL_BUFFER = 200;

            var lastScroll = $(window).scrollTop();

            $(window).scroll(function (data) {
                var newScroll = $(window).scrollTop();
                var delta = newScroll - lastScroll;
                lastScroll = newScroll;
                var scrollHeight = $(document).height();
                var maxScroll = scrollHeight - $(window).height();

                if (delta > 0 && maxScroll - newScroll < SCROLL_BUFFER && !gettingFeed) {
                    gettingFeed = true;
                    $("#loadingProducts").show();

                    searchRequest = $.get("/get/feed?page=" + page, null, function (result) {
                        $("#feed_container").append(result);
                        
                        $("#feed_container").imagesLoaded(function () {
                            $("#feed_container").masonry("reloadItems");
                            $("#feed_container").masonry("layout");
                            $(".item").hide().css("visibility", "visible").fadeIn();
                        });

                        /*$("#feed_container").imagesLoaded(function () {
                            var mason = $("#feed_container").masonry({
                                //columnWidth: "20%",
                                //gutter: "1%",
                                itemSelector: '.item'
                            });
                            $("#loadingProducts").hide();
                            $("#feed_container").hide().css("visibility", "visible").fadeIn();
                            mason.on("layoutComplete", function () {
                                $("#loadingProducts").hide();
                                $("#feed_container").hide().css("visibility", "visible").fadeIn();
                            });
                        });*/

                        page = page + 1;

                        //window.wall.fitWidth();

                        gettingFeed = false;
                    });
                }
            });
        });
    </script>
}

@section info {
    <div class="col_12" style="height: 400px; overflow-y: scroll;">
        <span class="col_12">
            <b>my wishlus.:</b> see, share, sort, scout, add, edit, post, tweet, and delete your wishes and wishlus.  A wishlu is a wish list that you organize for any occasion: your birthday, your baby shower, your trip to Belize in March. You can link your wishlus to dates and events  on your calendar to share with others, too.
        </span>
        <span class="col_12">
            <b>friends.:</b> find, view, grant, grab, steal, scout, and comment on your friends’ wishes and wishlus.
        </span>
        <span class="col_12">
            <b>wish:</b> use your phone to scan any item’s barcode or QR tag, or manually enter an item’s UPC. You can also use “just jot” to enter an item by hand.  Download wishlu’s browser button to add an item from any website on wishlu.com.
            <p>Save your wishes and assign them to your wishlus.  Post your wishes on Facebook, tweet them on Twitter, and share your wishes with your wishloops---all of them, some of them, one of them.  Or, keep track of the things you see and want to buy later for yourself or someone else by cataloging them in your “what I saw where” wishlu.</p>
            <p>Normally the status of your wishes is hidden from you, but not from your wishloops; however, if you really, really want to see whether your wishes are pending or granted, go to settings and select “reveal wish status” to view the status of a selected wish or wishes.</p>
        </span>
        <span class="col_12">
            <b>wishloop:</b> anyone who accepts your invitation to join you on wishlu automatically belongs to your friends wishloop.  Create new wishloops to organize and shuffle people so that you can share your wishes only with the people you want.
        </span>
        <span class="col_12">
            <b>invite:</b> invite people you like to join you as a friend on wishlu.
        </span>
        <span class="col_12">
            <b>profile:</b>  this is the place to go to share with others fail-proof gift ideas by listing a few of your favorite things  (black socks, white peonies, sugar-free jelly beans, the home team) or a few of your favorite brands and stores. You can also add important information like your shipping address and your stats (shoe size, dress size) to help family & friends when they are shopping for you.
        </span>
        <span class="col_12">
            <b>more:</b> access to shortcuts, privacy, and settings.
        </span>
        <span class="col_12">
            <b>sign out:</b> sign out.
        </span>
    </div>
}

@functions
{
    // Add functions here
}

@*@if (Request.IsAuthenticated)
        {
            <div class="col_12 nomargin" style="width: 100%;margin-top:20px!important;">
                <a href="@Url.Action("index", "wishlu")" class="col_4 nomargin pop alpha" style="border: 4px solid lightblue;border-radius:15px; background:#fcfcfc;">
                    <h4 class="center">
                        <span class="lowercase">my wishlus</span>
                    </h4>
                    <div class="col_12 center" style="margin: 20px auto;">
                        @{ int wishCounter = 0; }
                        @try
                        {
                            foreach (Squid.Wishes.Wish wish in Squid.Users.User.GetUsersWishes(UserId).OrderByDescending(x => x.CreatedOn).Take(4))
                            {
                                string thisImage = "//assets.wishlu.com/images/DefaultWish.jpg";
                                if (wish.ImageUrl != null)
                                {
                                    thisImage = wish.Image;
                                }
                                <div style="display:inline-block; border: 1px solid #a8a096; background-size: contain; background-position: center; background-repeat: no-repeat; background-image: url('@thisImage'); background-color: transparent; height: 75px; width: 75px;">
                                </div>
                                wishCounter++;
                            }
                            for (int k = wishCounter; k < 4; k++)
                            {
                                <div style="display: inline-block; border: 1px solid #a8a096; background-size: cover; background-repeat: no-repeat; background-image: url('//assets.wishlu.com/images/DefaultWish.jpg'); background-color: white; height: 75px; width: 75px;">
                                </div>
                            }
                        }
                        catch
                        {
                            for (int k = wishCounter; k < 4; k++)
                            {
                                <div style="display: inline-block; border: 1px solid #a8a096; background-size: cover; background-repeat: no-repeat; background-image: url('//assets.wishlu.com/images/DefaultWish.jpg'); background-color: white; height: 75px; width: 75px;">
                                </div>
                            }
                        }
                    </div>

                </a>
                <a href="/item/hunt/?state=search" class="col_4 nomargin pop" style="position: relative; margin-left: 30px !important; border:4px solid;border-radius:15px;background:#fcfcfc;">
                    <h4 class="center">
                        <span class="lowercase">add a new item</span>
                    </h4>
                    <div class="col_12 center" style="margin:20px auto;">
                        <i class="fa fa-plus-circle" style="font-size:75px;color:#CFDF51;"></i>
                    </div>
                </a>
                <a href="@Url.Action("index", "friends")" class="col_4 nomargin pop omega" style="float:right; border: 4px solid lightblue;border-radius:15px;background:#fcfcfc;">
                    <h4 class="center">
                        <span class="lowercase">my friends</span>
                    </h4>
                    <div class="col_12 center" style="margin: 20px auto;">
                        @{
            int memberCounter = 0;
                        }
                        @try
                        {
                            foreach (Squid.Users.User mem in Squid.Users.User.GetUsersFriends(UserId).Take(4))
                            {
                                memberCounter++;

                                <div class="centerDiv circlefriend pop" style="display:inline-block; background-image: url('@(mem.Image)'); background-position: center; width: 75px; height: 75px; border: 2px solid gray;">
                                </div>

                            }
                            for (int i = memberCounter; i < 4; i++)
                            {
                                <div class="centerDiv circlefriend pop" style="display:inline-block; background-image: url('//assets.wishlu.com/images/GenericFriend.png'); background-position: center; width: 75px; height: 75px; border: 2px solid gray;">
                                </div>
                            }
                        }
                        catch
                        {
                            for (int i = memberCounter; i < 4; i++)
                            {
                                <div class="centerDiv circlefriend pop" style="display:inline-block; background-image: url('//assets.wishlu.com/images/GenericFriend.png'); background-position: center; width: 75px; height: 75px; border: 2px solid gray;">
                                </div>
                            }
                        }
                    </div>

                </a>
            </div>
    }*@

<div class="row">
    <div class="col-xs-12">
        <div class="feed" style="margin:0 auto 14px auto; position:relative;">
            <div class="feedItems centeredInWrapper">
                <div id="feed_container">
                </div>
            </div>
        </div>        
    </div>
    <div id="loadingProducts" class="col-xs-12 text-center text-muted">
        <h1>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
        </h1>
    </div>
</div>