@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    product search - wishlu
}

@section title {
    product search
}

@section scripts {
<script>
    $(document).ready(function () {
        $("#products_container").on("click", ".product_save", function () {
            var sel = $(this);
            sel.addClass("disabled");
            sel.text("saving...");

            var product = {};

            var product_type = sel.data("product-type");

            if (product_type === "milkshake") {
                product.Id = sel.data("id");
                product.ProductType = "milkshake";
            }
            else if (product_type === "amazon") {
                product.ASIN = sel.data("asin");
                product.ProductType = "amazon";
            }
            else if (product_type === "bby") {
                product.SKU = sel.data("sku");
                product.ProductType = "bestbuy";
            }
            else {
                swal("Uh oh...", "The product you are attempting to save has invalid product data.");
            }

            $.ajax({
                type: "POST",
                url: "/item/add",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                traditional: true,
                data: JSON.stringify(product),
                success: function (data) {
                    if (data.result == true) {
                        swal("Success!", data.message, "success");
                        sel.text("saved");
                        //History.pushState(null, 'saved', '?state=saved');
                    }
                    else {
                        swal("Uh oh...", data.message, "error");
                        sel.removeClass("disabled");
                        sel.text("save");
                    }
                },
                error: function (data) {
                    swal("Uh oh...", data.message, "error");
                }
            });
        });

        $.get("/get/products?query=" + encodeURIComponent("@ViewBag.Query"), null, function (result) {
            // Append Results
            $("#products_container").html(result);
            $("#products > .loading").hide();
            //gettingProducts = false;

            $("#products_tab").html("products (" + $(".product").length + ")");

            if ($(".product").length == 0) {
                $("#products").remove();
            }
        });        
    });
</script>

<script>
    var page = 1;
    var searchquery = "";
    var gettingProducts = false;

    $(document).ready(function () {
        var SCROLL_BUFFER = 600;

        var lastScroll = $(window).scrollTop();

        $(window).scroll(function (data) {
            var newScroll = $(window).scrollTop();
            var delta = newScroll - lastScroll;
            lastScroll = newScroll;
            var scrollHeight = $(document).height();
            var maxScroll = scrollHeight - $(window).height(); //scrollingDiv[0].clientHeight;

            if (delta > 0 && maxScroll - newScroll < SCROLL_BUFFER && !gettingProducts) {
                gettingProducts = true;
                $("#products > .loading").show();

                searchRequest = $.get("/get/products?query=" + encodeURIComponent("@ViewBag.Query") + "&page=" + page, null, function (result) {
                    $("#products_container").append(result);
                $("#products > .loading").hide();

                $('.tooltip, .tooltip-top, .tooltip-bottom, .tooltip-right, .tooltip-left', '#products_container').each(function () {
                    // variables
                    var tpos = 'top';
                    var content = $(this).attr('title');
                    var dataContent = $(this).attr('data-content');
                    var keepAlive = false;
                    var action = 'hover';
                    var delay = $(this).attr('data-delay');
                    if (delay === undefined) { delay = 1000; }

                    // position
                    if ($(this).hasClass('tooltip-top')) { tpos = 'top'; }
                    if ($(this).hasClass('tooltip-right')) { tpos = 'right'; }
                    if ($(this).hasClass('tooltip-bottom')) { tpos = 'bottom'; }
                    if ($(this).hasClass('tooltip-left')) { tpos = 'left'; }

                    // content
                    $('.tooltip-content').removeClass('hide').wrap('<div class="hide"></div>');
                    if (dataContent) { content = $(dataContent).html(); keepAlive = true; }

                    // action (hover or click) defaults to hover
                    if ($(this).attr('data-action') == 'click') { action = 'click'; }

                    // tooltip
                    $(this).attr('title', '')
                    .tipTip({ defaultPosition: tpos, content: content, keepAlive: keepAlive, activation: action, delay: delay });
                });

                page = page + 1;

                gettingProducts = false;
            });
        }
        });
    });
</script>
}

<!-- Products -->
<div id="products" class="col_12 pop" style="border: 2px solid lightblue; border-radius: 15px; background:white;">
    <h5 id="products_tab" style="margin-left: 10px; color: #a8a096;">products</h5>
    <div class="col_12" id="products_container">

    </div>
    <div class="col_12 center loading" style="color: gray;">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
</div>