@model Squid.Users.User
@using Disco.Common
@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    wishlu - blocking
}

@section title {
    my account <i class="fa fa-angle-right" style="margin-left: 5px; margin-right: 5px;"></i> blocking
}

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#block_do").click(function () {
            var button = $(this);
            button.html("<i class='fa fa-spinner fa-spin'></i>");
            $.post("/user/block?email=" + encodeURIComponent($("#block_email").val()), null, function (data) {
                button.html("block");
                if (data.result === true) {
                    $("#block_users").append('<div class="col_12 blocked_user"><div class="col_10">' + data.name + '</div><div class="col_2"><a class="button pop unblock_user" data-id="' + data.id + '">unblock</a></div></div>');
                }
                else {
                    swal("Uh oh...", data.message, "error");
                }
            });
        });

        $(".unblock_user").on("click", function () {
            var button = $(this);
            button.html("<i class='fa fa-spinner fa-spin'></i>");
            $.post("/user/unblock?id=" + encodeURIComponent(button.data("id")), null, function (data) {
                if (data.result === true) {
                    button.parents(".blocked_user").remove();
                }
                else {
                    button.html("unblock");
                    swal("Uh oh...", data.message, "error");
                }
            });
        });
    });
</script>
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation">
                <a href="/user/index">
                    <i class="fa fa-fw fa-cogs" style="color:gray;"></i> general
                </a>
            </li>
            <li role="presentation">
                <a href="/user/privacy">
                    <i class="fa fa-fw fa-lock" style="color: gold;"></i> privacy
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="/user/blocking">
                    <i class="fa fa-fw fa-minus-circle" style="color: indianred;"></i> blocking
                </a>
            </li>
            <li role="presentation">
                <a href="/user/notifications">
                    <i class="fa fa-fw fa-globe" style="color: deepskyblue;"></i> notifications
                </a>
            </li>
            <li role="presentation">
                <a href="/user/mobile">
                    <i class="fa fa-fw fa-mobile" style="color:darkslategray;"></i> mobile
                </a>
            </li>
            <li role="presentation">
                <a href="/user/findfriends">
                    <i class="fa fa-fw fa-users" style="color:midnightblue"></i> find friends
                </a>
            </li>
            <li role="presentation">
                <a href="/user/social">
                    <i class="fa fa-fw fa-cubes" style="color:gray;"></i> social
                </a>
            </li>
        </ul>
    </div>
</div>
         
<div class="row">
    <div class="col-xs-12">
        <h3>manage blocking</h3>
        <div class="row">
            <div class="col-xs-6">
                <h4>block a user</h4>
                <div class="col_12">
                    <div class="col_10">
                        <input type="text" class="input-like input-small full" id="block_email" placeholder="add email or username" />
                    </div>
                    <div class="col_2">
                        <a class="button pop" style="padding: 6px;" id="block_do">
                            block
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <h4>who do i have blocked?</h4>
                <div class="col_12" id="block_users" style="max-height: 320px;">
                    @foreach (Squid.Users.User user in Squid.Users.User.GetBlockedUsers(UserId))
                    {
                        <div class="col_12 blocked_user full">
                            <div class="col_10">
                                @user.FullName
                            </div>
                            <div class="col_2">
                                <a class="button pop unblock_user" data-id="@user.Id" style="padding: 5px;">
                                    unblock
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>        
    </div>
</div>