@model Squid.Users.User
@using Disco.Common
@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";
}

@section page {
    wishlu - notifications
}

@section title {
    my account <i class="fa fa-angle-right" style="margin-left: 5px; margin-right: 5px;"></i> notifications
}

@section scripts {

}

<div class="col_2 nomargin">
    <ul class="menu vertical" style="z-index: 100; font-size: 12pt;">
        <li><a href="/user/index"><i class="fa fa-fw fa-2x fa-cogs"></i>general</a></li>
        @*<li><a href="/user/security"><i class="fa fa-fw fa-2x fa-shield" style="color: gold;"></i>security</a></li>*@
        <li><a href="/user/privacy"><i class="fa fa-fw fa-2x fa-lock" style="color: gold;"></i>privacy</a></li>
        <li><a href="/user/blocking"><i class="fa fa-fw fa-2x fa-minus-circle" style="color: indianred;"></i>blocking</a></li>
        <li class="current"><a href="/user/notifications"><i class="fa fa-fw fa-2x fa-globe"></i>notifications</a></li>
        <li><a href="/user/mobile"><i class="fa fa-fw fa-2x fa-mobile"></i>mobile</a></li>
        <li><a href="/user/findfriends"><i class="fa fa-fw fa-2x fa-users"></i>find friends</a></li>
        <li><a href="/user/social"><i class="fa fa-fw fa-2x fa-cubes"></i>social</a></li>
        @*<li><a href="/user/payments"><i class="fa fa-fw fa-2x fa-credit-card"></i>payments</a></li>*@
    </ul>
</div>

<div class="col_10 pop" style="float: right; margin-top: 0; margin-right: 0; color: gray; border: 2px solid lightblue; border-radius: 15px; background: white;">
    <div class="grid" style="color: Gray">
        <div class="col_9">
            <h6>what you get notified about</h6>
        </div>
        <div class="col_3">
            <h6>how you get notifications</h6>
        </div>
        <div class="col_12">
            <div class="col_6">
            </div>
            <div class="col_2 center">
                <i class="fa fa-share-alt fa-2x"></i>
                <span class="col_12 nomargin nopadding">on wishlu</span>
            </div>
            <div class="col_2 center">
                <i class="fa fa-envelope fa-2x"></i>
                <span class="col_12 nomargin nopadding">via email</span>
            </div>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <div class="col_2 center nter">
                    <i class="fa fa-mobile fa-2x"></i>
                    <span class="col_12 nomargin nopadding">by text</span>
                </div>
            }
        </div>

        <div class="col_12" style="background: white; border: 2px solid lightblue; border-radius: 15px;">
            <span class="col_6"><i class="fa fa-fw fa-2x fa-user" style="color:#CFDF51"></i><b>activity involving you</b></span>
            <span class="col_2 center">
                <input type="checkbox" checked="@Model.Notifications_Me_Wishlu" />
            </span>
            <span class="col_2 center">
                <input type="checkbox" checked="@Model.Notifications_Me_Email" />
            </span>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <span class="col_2 center">
                    <input type="checkbox" checked="@Model.Notifications_Me_Text" />
                </span>
            }
        </div>

        <div class="col_12" style="background: white; border: 2px solid lightblue; border-radius: 15px;">
            <span class="col_6"><i class="fa fa-fw fa-2x fa-birthday-cake"></i><b>birthdays</b></span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <span class="col_2 center">
                    <input type="checkbox" />
                </span>
            }
        </div>

        <div class="col_12" style="background: white; border: 2px solid lightblue; border-radius: 15px;">
            <span class="col_6"><i class="fa fa-fw fa-2x fa-bell" style="color: gold;"></i><b>holidays</b></span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <span class="col_2 center">
                    <input type="checkbox" />
                </span>
            }
        </div>

        <div class="col_12" style="background: white; border: 2px solid lightblue; border-radius: 15px;">
            <span class="col_6"><i class="fa fa-fw fa-2x fa-calendar"></i><b>upcoming events</b></span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <span class="col_2 center">
                    <input type="checkbox" />
                </span>
            }
        </div>

        <div class="col_12" style="background: white; border: 2px solid lightblue; border-radius: 15px;">
            <span class="col_6"><i class="fa fa-fw fa-2x fa-dollar" style="color: darkgreen;"></i><b>price changes for your items</b></span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <span class="col_2 center">
                    <input type="checkbox" />
                </span>
            }
        </div>

        <div class="col_12" style="background: white; border: 2px solid lightblue; border-radius: 15px;">
            <span class="col_6"><i class="fa fa-fw fa-2x fa-gift"></i><b>promotions and discounts for your items</b></span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <span class="col_2 center">
                    <input type="checkbox" />
                </span>
            }
        </div>

        <div class="col_12" style="background: white; border: 2px solid lightblue; border-radius: 15px;">
            <span class="col_6" style="line-height: 50px;">
                @*<i class="fa fa-fw fa-2x fa-rss" style="color:darkorange;"></i>*@
                <img src="//assets.wishlu.com/images/headerLogo.png" style="width:50px;height:50px;" />
                <b>wishlu news and updates</b>
            </span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            <span class="col_2 center">
                <input type="checkbox" />
            </span>
            @if (!String.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneCarrier != 0)
            {
                <span class="col_2 center">
                    <input type="checkbox" />
                </span>
            }
        </div>
    </div>
</div>