@model Squid.Users.User
@using Disco.Common
@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    wishlu - privacy
}

@section title {
    my account <i class="fa fa-angle-right" style="margin-left: 5px; margin-right: 5px;"></i> privacy
}

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $(".working, .success, .error").hide();

        $(".setting").on("change", function (e) {
            var opt = $(this).find("option:selected");
            var key = $(this).attr("id");
            var val = opt.attr("value");

            var selector = $(this);

            selector.siblings(".error,.success").fadeOut();
            selector.siblings(".working").fadeIn();

            $.get("/user/set?key=" + encodeURIComponent(key) + "&value=" + encodeURIComponent(val), null, function (result) {
                selector.siblings(".working").fadeOut();
                if (result === true) {                    
                    selector.siblings(".success").fadeIn();
                }
                else {                    
                    selector.siblings(".error").fadeIn();
                }
            });
        });
    });
</script>
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation">
                <a href="/user/index">
                    <i class="fa fa-fw fa-cogs" style="color:gray;"></i> general
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="/user/privacy">
                    <i class="fa fa-fw fa-lock" style="color: gold;"></i> privacy
                </a>
            </li>
            <li role="presentation">
                <a href="/user/blocking">
                    <i class="fa fa-fw fa-minus-circle" style="color: indianred;"></i> blocking
                </a>
            </li>
            <li role="presentation">
                <a href="/user/notifications">
                    <i class="fa fa-fw fa-globe" style="color: deepskyblue;"></i> notifications
                </a>
            </li>
            <li role="presentation">
                <a href="/user/mobile">
                    <i class="fa fa-fw fa-mobile" style="color:darkslategray;"></i> mobile
                </a>
            </li>
            <li role="presentation">
                <a href="/user/findfriends">
                    <i class="fa fa-fw fa-users" style="color:midnightblue"></i> find friends
                </a>
            </li>
            <li role="presentation">
                <a href="/user/social">
                    <i class="fa fa-fw fa-cubes" style="color:gray;"></i> social
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col_12">
            <h3>who can see what I do on wishlu?</h3>
            <div class="col_4" style="position:relative;">
                <h4>who can see my wishlu profile?</h4>
                <i class="fa fa-spinner fa-spin working" style="color:gray; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-check success" style="color:#c1dd5c; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-times error" style="color:#f2cec5; position:absolute;top:14px;right:5px;"></i>
                <select id="ProfileVisibility" class="setting full input-like small-input">
                    @switch (Model.ProfileVisibility)
                    {
                        case Squid.Users.UserPrivacy.Everyone:
                            <option selected value="Everyone">everyone</option>
                            <option value="Members">wishlu members</option>
                            <option value="FriendsOfFriends">friends of friends</option>
                            <option value="Friends">friends</option>
                            break;

                        case Squid.Users.UserPrivacy.Members:
                        <option value="Everyone">everyone</option>
                        <option selected value="Members">wishlu members</option>
                        <option value="FriendsOfFriends">friends of friends</option>
                        <option value="Friends">friends</option>
                            break;

                        case Squid.Users.UserPrivacy.FriendsOfFriends:
                        <option value="Everyone">everyone</option>
                        <option value="Members">wishlu members</option>
                        <option selected value="FriendsOfFriends">friends of friends</option>
                        <option value="Friends">friends</option>
                            break;

                        case Squid.Users.UserPrivacy.Friends:
                        <option value="Everyone">everyone</option>
                        <option value="Members">wishlu members</option>
                        <option value="FriendsOfFriends">friends of friends</option>
                        <option selected value="Friends">friends</option>
                            break;
                    }
                </select>
            </div>            
            <div class="col_4" style="position:relative;">
                <h4>who can follow me?</h4>
                <i class="fa fa-spinner fa-spin working" style="color:gray; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-check success" style="color:#c1dd5c; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-times error" style="color:#f2cec5; position:absolute;top:14px;right:5px;"></i>
                <select id="FollowPermission" class="setting full input-like small-input">
                    @switch (Model.FollowPermission)
                    {
                        case Squid.Users.UserPrivacy.Everyone:
                        case Squid.Users.UserPrivacy.Members:
                            <option selected value="Members">wishlu members</option>
                            <option value="FriendsOfFriends">friends of friends</option>
                            <option value="Friends">friends</option>
                            break;

                        case Squid.Users.UserPrivacy.FriendsOfFriends:
                        <option value="Members">wishlu members</option>
                        <option selected value="FriendsOfFriends">friends of friends</option>
                        <option value="Friends">friends</option>
                            break;

                        case Squid.Users.UserPrivacy.Friends:
                        <option value="Members">wishlu members</option>
                        <option value="FriendsOfFriends">friends of friends</option>
                        <option selected value="Friends">friends</option>
                            break;
                    }
                </select>
            </div>
        </div>

        <div class="col_12">
            <h3>who can contact me on wishlu?</h3>
            <div class="col_4" style="position:relative;">
                <h4>who can send me friend requests?</h4>
                <i class="fa fa-spinner fa-spin working" style="color:gray; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-check success" style="color:#c1dd5c; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-times error" style="color:#f2cec5; position:absolute;top:14px;right:5px;"></i>
                <select id="FriendRequestPermission" class="setting full input-like small-input">
                    @if (Model.FriendRequestPermission == Squid.Users.UserPrivacy.Members)
                    {
                        <option selected value="Members">wishlu members</option>
                        <option value="FriendsOfFriends">friends of friends</option>
                    }
                    else
                    {
                        <option value="Members">wishlu members</option>
                        <option selected value="FriendsOfFriends">friends of friends</option>
                    }
                </select>
            </div>

        </div>

        <div class="col_12">
            <h3>who can look me up?</h3>
            <div class="col_4" style="position:relative;">
                <h4>can wishlu users look me up via e-mail?</h4>
                <i class="fa fa-spinner fa-spin working" style="color:gray; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-check success" style="color:#c1dd5c; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-times error" style="color:#f2cec5; position:absolute;top:14px;right:5px;"></i>
                <select id="AllowEMailLookup" class="setting full input-like small-input">
                    @if (Model.AllowEMailLookup)
                    {
                        <option selected value="true">yes</option>
                        <option value="false">no</option>
                    }
                    else
                    {
                        <option value="true">yes</option>
                        <option selected value="false">no</option>
                    }
                </select>
            </div>
            <div class="col_4" style="position:relative;">
                <h4>can wishlu users look me up via phone number?</h4>
                <i class="fa fa-spinner fa-spin working" style="color:gray; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-check success" style="color:#c1dd5c; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-times error" style="color:#f2cec5; position:absolute;top:14px;right:5px;"></i>
                <select id="AllowPhoneLookup" class="setting full input-like small-input">
                    @if (Model.AllowPhoneLookup)
                    {
                        <option selected value="true">yes</option>
                        <option value="false">no</option>
                    }
                    else
                    {
                        <option value="true">yes</option>
                        <option selected value="false">no</option>
                    }
                </select>
            </div>
            <div class="col_4" style="position:relative;">
                <h4>allow search engines to index my profile, wishes, wishlus, etc?</h4>
                <i class="fa fa-spinner fa-spin working" style="color:gray; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-check success" style="color:#c1dd5c; position:absolute;top:14px;right:5px;"></i>
                <i class="fa fa-times error" style="color:#f2cec5; position:absolute;top:14px;right:5px;"></i>
                <select id="AllowIndexing" class="setting full input-like small-input">
                    @if (Model.AllowIndexing)
                    {
                        <option selected value="true">yes, allow public indexing</option>
                        <option value="false">no, keep search engines away</option>
                    }
                    else
                    {
                        <option value="true">yes, allow public indexing</option>
                        <option selected value="false">no, keep search engines away</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>